@using CallCenterAutomation.Models.Entity

@model List<EXPECTATION>

@{
    ViewBag.Title = "UserAllList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUserNameSurname = Session["LoginUserNameSurname"];
    var loginUserDepartmentID = (int)Session["LoginUserDepartmentID"];
    var loginUserID = (int)Session["LoginUserID"];
    var loginUserDepartmentName = Session["LoginUserDepartmentName"];
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4> Beklenti İşlemleri - @loginUserDepartmentName</h4><h2> @ViewBag.PageStatus </h2>
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>

                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                @using (Html.BeginForm("AllExpectationsList", "CollectionTracking", FormMethod.Get))
                                {
                                    @Html.TextBox("searching")<input type="submit" value="Ara" />

                                }  <br />

                                <table id="paymenList" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>İsim Soyisim</th>
                                            <th>Dosya No</th>
                                            <th>Beklenti Tutarı</th>
                                            <th>Eklenme Zamanı</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="4" style="color:red">
                                                    Kayıt bulunamadı.
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                if (item.DepartmentID == loginUserDepartmentID && item.DateTime == DateTime.Today)
                                                {
                                                    <tr>

                                                        <td>
                                                            @item.USER.EMPLOYEE.EmployeeName @item.USER.EMPLOYEE.EmployeeSurname
                                                        </td>

                                                        <td>
                                                            @item.FileNumber
                                                        </td>

                                                        <td>
                                                            @item.ExpectationAmount TL
                                                        </td>
                                                        <td>
                                                            @item.AddingTime
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.table2excel.js"></script>
<script type="text/javascript">

    $("#btnExportEmployee").click(function () {
        $(".table").table2excel();
    });
</script>
